
.body-forms
{
    /*background-color: #081324;*/
    /*background-color: #081319; #240E13 */
    /*background-color: #060E20;*/
    background-image: linear-gradient(55deg,#211924 5%, #060E20);
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 99vw;
    height: 100vh;
    overflow: hidden;
}

#cnt-itm-form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 350px;
    height: 80%;
    margin: 0px auto;
    overflow: hidden;
}

.itm-inp-lab
{
    background-color: transparent;
    border: 1px solid #333;
    border-radius: 10px ;
    margin: 10px auto;

    padding: 5px;
}

.spn-act-res {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    height: 100%;
}

.itm-inp-lab > .spn-act-res > img
{
    width: 25px;
}

/*
inputs
*/

.cnt-inp-lab
{
    background-color: #081319a7;
    border: 2px solid #0F232E;
    border-radius: 10px;
    padding: 10px;
}

.btn-step
{
    background-color: transparent;
    border: 1px solid #0F232f;
    border-radius: 5px;
    font-family: poppis-light;
    font-size: 11pt;
    padding: 5px 7px;
}

.input-forms
{
    background-color: #0F232E;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 11pt;
    font-family: poppis-light;
    padding: 5px 10px;
    width: 230px;
}

.input-forms.input-act
{
    border: 1px solid #A8311F;
}

.number-phone
{
    width: 230px;
    display: flex;
}

.disabled-input
{
    color: #666;
    background-color: #0F2329;
    border-right: 1px solid #5555;
    border-radius: 5px 0px 0px 5px;
    width: 20px;
    padding: 0px 5px;
}

#numberInc
{
    border-radius: 0px 5px 5px 0px;
    width: 210px;
}

.username
{
    text-transform: lowercase;
}

/*
end inputs
*/

.error-msg
{
    color: #A8311F;
    background-color: #c800002b;
    border-radius: 10px;
    font-size: 11pt;
    display: block;
    width: 230px;
    margin: 10px auto 0px auto;
    padding: 5px;
}

.arm-reg-log
{
    font-size: 11pt;
    font-family: poppis-light;
    letter-spacing: 1.3px;
    background-color: #0F232Ea7;
    margin-top: 20px;
    padding: 20px 10px;
    border-radius: 5px;
}

.login-inc-form
{
    font-size: 11pt;
    background-color: #081319;
    padding: 0px 5px;
    text-transform: uppercase;
}

#personalDate
{
    display: block;
}

.cnt-btn-bc-nx
{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}