* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

a {
    color: #fff;
    display: block;
}

input {
    outline: 0;
    border: 0;
}

.header {
    color: #ccc;
    background-color: rgb(0, 18, 33);
    width: 100vw;
    height: 15vh;

    padding: 2px;
}

.hd-btn {
    display: none;
}

.headerCol, .areaLogo, .prisma, .navBar, .hd-row {
    display: flex;
    align-items: center;
}

.prisma, .navBar {
    gap: 20px;
}

.hd-row {
    height: 40%;
    align-items: center;
    padding: 10px;
}

.hd-row-1 {
    border-bottom: 1px solid #999;
}
.hd-row-2 {
}

.headerCol {
    gap: 50px;
    height: 100%;
}

.areaLogo {
    font-size: 20pt;
    width: 15%;
    height: 50%;
    justify-content: center;
    border-right: 5px solid tomato;
}

.hd-link {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 4px 10px;
}

.hd-link:hover {
    font-size: 12.01pt;
    background-color: #ccc;
    border: 1px solid transparent;
    color: #444;
    border-radius: 20px;
    box-shadow: 1px 1px 10px #444;
    transition: .3s;
}

.hd-search {
    background-color: tomato;
    border-radius: 20px;
    padding: 4px;
}

.in-search {
    width: 220px;
    padding: 5px 10px;
    border-radius: 20px;
}

.btn-search {
    padding: 3px 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 11pt;
    font-weight: bold;
    color: #eee;
}