@charset "UTF-8";

/*===========================================================
====================== CONFIG-GLOBAIS =======================
=============================================================*/
* {
    outline: none;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/*===========================================================
======================= CONFIG-CORES ========================
=============================================================*/


/*===========================================================
======================= CONFIG-FONTE ========================
=============================================================*/
