@charset "UTF-8";

/*===========================================================
====================== CONFIG-GLOBAIS =======================
=============================================================*/
* {
    font-family: roboto-light;
    font-style: none;

    outline: none;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*===========================================================
======================= CONFIG-CORES ========================
=============================================================*/
:root {
    --cor001: #0000ff;
    --cor002: #ffffff;
    --cor003: #000000;
    --cor004: #222222;
    --cor005: #060e1f;
    --cor006: #121314;
    --cor007: #1a1d26;
    --cor008: #9bb1ffc2;
}

/*===========================================================
======================= CONFIG-FONTE ========================
=============================================================*/
@font-face {
    font-family: montserrat;
    src: url(./font/Montserrat/static/Montserrat-Medium.ttf)
    format('truetype');
}

@font-face {
    font-family: roboto-light;
    src: url(../ownless/style/font/roboto-light.ttf) 
    format('truetype');
}

@font-face {
    font-family: kanit;
    src: url(../ownless/style/font/kanit-regular.ttf) 
    format('truetype');
}

/*===========================================================
===================== CONFIG-HTML PAGES =====================
=============================================================*/
body {
    text-align: center;
    color: var(--cor002);
    background-color: var(--cor006);
    overflow-x: hidden;
}

header {
    background-color: transparent;
}

header > .sticky_1 > .conor, header > .sticky_1 > .cnt-itm, header > .sticky_1 > .lg-nm {
    z-index: 100;
}

header > .sticky_1 {
    background-color: var(--cor007);
    width: 100vw;
    height: 100vh;

    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow-x: hidden;
    position: relative;
    padding: 0px 10px;
}

header > .sticky_1 > .conor {
    color: rgb(186, 206, 233);
    font-size: 22pt;
    font-family: kanit;
    font-weight: 600;
}
@media (min-width: 900px) {
    header > .sticky_1 > .conor {
        font-size: 28pt;
    }
}

header > .sticky_1 > .cnt-itm {
    display: block;
}
@media (min-width: 900px) {
    header > .sticky_1 > .cnt-itm {
        display: flex;
        align-items: center;
        gap: 100px;
    }
}

header > .sticky_1 > .cnt-itm > .img-itm > .cnt-img {
    width: 200px;
}
@media (min-width: 1080px) {   
    header > .sticky_1 > .cnt-itm > .img-itm > .cnt-img {
        width: 350px;
    }
}

header > .sticky_1 > .cnt-itm > .img-itm > .cnt-img {
    display: none;
}   
@media (min-width: 900px) {
    header > .sticky_1 > .cnt-itm > .img-itm > .cnt-img {
        display: block;
    }
}

header > .sticky_1 > .cnt-itm > .cnt-img > .txt-gnl {
    color: var(--cor008);
    font-size: 13pt;
}
@media (min-width: 900px) {
    header > .sticky_1 > .cnt-itm > .cnt-img > .txt-gnl {
        text-align: left;
    }
}

header > .sticky_1 > .cnt-itm > .cnt-img > .itm-txt-1 {
    color: #4e66ff;
    font-size: 15pt;
    font-weight: 900;
}
@media (min-width: 900px) {
    header > .sticky_1 > .cnt-itm > .cnt-img > .itm-txt-1 {
        font-size: 18pt;
    }
}

header > .sticky_1 > .cnt-itm > .cnt-img > .itm-txt-2 {
    color: rgb(125, 145, 209);
    font-size: 17pt;
    margin: 12px 0px;
    font-weight: 900;
}
@media (min-width: 900px) {
    header > .sticky_1 > .cnt-itm > .cnt-img > .itm-txt-2 {
        font-size: 18pt;
    }
}

header > .sticky_1 > .cnt-itm > .cnt-img > .itm-txt-3 {
    color: rgb(92, 97, 148);
    font-size: 13pt;
    text-transform: lowercase;
}
@media (min-width: 900px) {
    header > .sticky_1 > .cnt-itm > .cnt-img > .itm-txt-3 {
        font-size: 16pt;
    }
}

header > .sticky_1 > .lg-nm > .conor-1 {
    color: rgb(67, 82, 107);
    font-size: 10pt;
    border-bottom: 1px solid rgb(143, 143, 143);
    padding: 1px 2px;
}

header > .sticky_1 > .svgs {
    position: absolute;
    width: 900px;
    height: 250px;
    right: 0;
    bottom: 0;
    z-index: 10;
}

header > .sticky_1 > .svgs > .svg-stick_1 {
    position: absolute;
    width: 500px;
    height: 300px;
}

/*
=======================================================
================== HEADER STICKER 2 ===================*/
#sticky_2, .logo, .itm-content, .cnfg-reg {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

/*====== STICKER "ADD" NO JS ======*/
.sticky {
    position: fixed;
    top: 0;
}

.sticky + .main {
    padding-top: 0px;
}

.myHeader/*or STICKER_2*/ {
    background-color: var(--cor004);
    justify-content: space-between;
    width: 100vw;
    padding: 10px 50px 10px 30px;
    z-index: 1000;
}
@media (min-width: 900px) {
    .myHeader {
        padding: 10px 100px;
    }
}

.logo {
    gap: 5px;
    padding: 0px 5px;
}

.img-logo {
    width: 45px;
}
@media (min-width: 700px) {
    .img-logo {
        width: 50px;
    }
}

.txt-logo {
    color: var(--cor002);
    font-size: 20pt;
    font-family: kanit;
    font-weight: 550;
}   

.btn-nv {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;

    border-top: 3px solid var(--cor002);
    width: 30px;
    padding: 0px;
    z-index: 1010;
}
.btn-nv::before,
.btn-nv::after {
    background-color: var(--cor002);
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 6px;
}
@media (min-width: 900px) {
    .btn-nv {
        display: none;
    }
}


.itm-content {
    display: none;
}
@media (min-width: 900px) {
    .itm-content {
        display: flex;
        gap: 20px;
    }
}

.cnt-lk {
    cursor: pointer;
    display: block;
    border: 1px solid var(--cor001);
    border-radius: 20px 20px 0px 0px;

    width: 90px;
    padding: 4px 0px;
}

.nv-lk {
    color: var(--cor002);
    font-weight: 500;
    text-transform: lowercase;
}

.btn-reg {
    display: none;
}
@media (min-width: 900px) {
    .btn-reg {
        background-color: var(--cor001);
        border-radius: 50px;
        display: block;
        font-size: 14pt;
        font-family: montserrat;
        font-weight: 900;

        padding: 5px 15px;
    }
}
@media (min-width: 1100px) {
    .btn-reg {
        display: none;
    }
}

.gnl-reg {
    display: block;
}
@media (min-width: 900px) {
    .gnl-reg {
        display: none;
    }
}
@media (min-width: 1100px) {
    .gnl-reg {
        border: 1px solid var(--cor001);
        border-radius: 20px;
        display: flex;
        gap: 20px;
    }

    .gnl-reg:hover {
        background-color: var(--cor001);
    }
}

.hd-lgn {
    background-color: var(--cor001);
}

.lgn-ins {
    border: 1px solid transparent;
    border-radius: 20px;
}


/*==================================
============== MAIN ================*/
.main {
    width: 100vw;
}

.col-main {
    background-color: transparent;
    background-image: url("../midia/img/wel-img-003.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    position: relative;
    margin-bottom: 100px;
}
@media (min-width: 900px) {
    .col-main {
        background-image: none;
        width: 75vw;
        margin: 100px auto;
    }
}

.one-main-itm {
    display: block;
    background-color: #000524b4;
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px;
}
@media (min-width: 900px) {
    .one-main-itm {
        background-color: #26272a;
        border-radius: 20px;
        border: 1px solid #3b3b3b00;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        z-index: 1;
    }
}

.txt-itm-mn {
    background-color: transparent;
    width: 80vw;
    height: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
@media (min-width: 900px) {
    .txt-itm-mn {
        width: 25vw;
    }
}

.txt-lmz {
    text-align: left;
    text-wrap: wrap;
}

.lema-zr {
    color: #fff6cd;
    font-size: 13pt;
    font-family: kanit;
    font-weight: 400;
    text-transform: lowercase;
}

.lema {
    color: #aed1ff;
    font-size: 17pt;
    text-transform: uppercase;
    margin: 15px 0px;
}

.img-txt-mn {
    display: none;
}
@media (min-width: 900px) {
    .img-txt-mn {
        background-color: transparent;
        display: flex;
        width: 32vw;
        height: 300px;
        margin: 0 auto;
    }

    .itn-img {
        border-radius: 50px 0px 0px;
        width: 100%;
        margin: 0 auto;
    }
}

.btn-lm {
    color: var(--cor002);
    font-size: 11pt;
    font-family: kanit;
    font-weight: 550;
    text-transform: lowercase;

    border: 1px solid lightgoldenrodyellow;
    border-radius: 0px 20px 0px;
    width: 100px;
    padding: 3px 0px;
}

.btn-lm:hover {
    color: var(--cor004);
    background-color: lightgray;
    border-color: var(--cor004);
}

.btn-lm::after {
    content: "->";
}

.blast-itm {
    background-color: transparent;
    width: 100vw;
}

.block-blast-cnt {
    background-color: transparent;
}

.arm-blst {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100vw;
}
@media (min-width: 600px) {
    .arm-blst {
        padding: 0px 0px;
        width: 86vw;
        margin: 0 auto 100px auto;
    }
}

.itm-blst-blck {
    border: none;
    border-radius: 20px;
    box-shadow: -1px 1px 10px -1px #2b2e30;
    width: 330px;
    height: 410px;

    display: flex;
    flex-direction: column;
    margin: 50px auto;
}
@media (min-width: 700px) {
    .itm-blst-blck {
        border-radius: 10px;
        width: 280px;
        height: 350px;
        margin: 10px;
    }
}

.elem-trck {
    color: #666;
    background-color: transparent;
    width: 100%;
    height: 60%;
    padding: 10px;
}

.sp-cnt-txt {
    width: 65%;
    margin: 0px auto;
}
@media (min-width: 700px) {
    .sp-cnt-txt {
        width: 90%;
    }
}

#tli-elm-pry, #tli-elm-scd, #tli-elm-trd, #tli-elm-frd {
    color: #9498d8;
    text-align: center;
    font-size: 20pt;
    font-family: kanit;
    font-weight: 400;
}
@media (min-width: 700px) {
    #tli-elm-pry, #tli-elm-scd, #tli-elm-trd, #tli-elm-frd {
        font-size: 15pt;
    }
}

.el-itm-tli {
    text-align: left;
}

.li-cnt::before {
    content: "->";
    font-size: 15pt;
    color: #aaa;
    padding-right: 5px;
}

.ctr-cnt-blst {
    margin: 25px 0px;
}
@media (min-width: 900px) {
    .ctr-cnt-blst {
        margin: 10px 0px;
    }
}

.btn-stb {
    display: block;
    color: #6669b2;
    border: 1px double rgb(35, 35, 42);
    border-radius: 100px;
    font-size: 11pt;
    font-family: kanit;
    font-weight: 600;
    text-transform: lowercase;

    width: 200px;
    margin: 0 auto;
    padding: 2px 10px;
}

.img-lk-less {
    width: 100%;
    height: 40%;
}

.img-lk-blt {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    height: 100%;
}

/*TEMPORARIO*/
.itm-hdd {
    display: none;
}

img {
    width: 30px;
}