@charset "UTF-8";

*
{
    color: #aaa;
    border: none;
    box-sizing: border-box;
    outline: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    text-decoration: none;

    margin: 0;
    padding: 0;
}

/*
==================================
=======Admin Config Style=========
==================================
*/
.body-gr
{
    background-color: #0c0c16;
    width: 100vw;
    height: 100vh;
    overflow: hidden hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.est-cnt-item
{
    border: 1px solid #ff00004c;
    border-radius: 10px;
    width: 99%;
    height: 98.5%;
}


/*
==================================
========USER CONFIG STYLE=========
==================================
*/
.esc-inc-cnt
{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}


.cnt-fles-itm
{
    display: block;
    width: 100%;
    height: 90%;
}

.rest-ft-fall
{
    width: 100%;
    height: 10%;
}

.btn-menu-navbar
{
    display: block;
    width: 40px;
    height: 18px;
    background: transparent;
    position: relative;
}

@media (min-width: 450px) {
}



/*Configuracao da janela Esquerdo e de Cima*/

#fecharcnt
{
    display: none;
}

.cnt-esc-lef
{
    display: block;
    background-color: transparent;
    width: 100%;
    height: 10%;
}

.cnt-lef-username
{
    border: 1px solid #a9a9c3;
    border-radius: 1000px;
    width: 120px;
    padding: 2px 10px;
    overflow: hidden hidden;
}

.cnt-lef-quick-view
{
    border: 1px solid #a9a9c3;
    width: 60px;
    height: 25px;
    overflow: hidden hidden;
}
.btn-menu-navbar::before,
.btn-menu-navbar::after
{
    content: " ";
    background: #a9a9c3;
    border-radius: 100px;
    position: absolute;
    height: 5px;
}

.btn-menu-navbar::after
{
    width: 80%;
    right: 0;
    top: 0;
}

.btn-menu-navbar::before
{
    width: 100%;
    left: 0;
    bottom: 0;
}

.btn-menu-navbar
{
    display: block;
}

/*Configuracao da janela de Cetro*/
.cnt-esc-cet
{
    background-color: #050a0e9c;
    width: 100%;
    height: 90%;
    position: relative;
    padding: 20px;
}

.btn-lef-tgg
{
    display: none;
    position: absolute;
    background-color: transparent;
    top: 10px;
    left: 10px;

    border: 1px solid #a9a9c3;
    border-radius: 10px;
    width: 50px;
    height: 25px;
}

.btn-lef-tgg.btnForm
{
    top: 10px;
    left: 10px;
    z-index: 2;
}


/*Configuracao da janela Direito e de Baixo*/
.cnt-esc-rgh
{
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.cnt-tr-itm
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 0px 10px;
}



/*
==================================
===========SCREEN 450PX===========
==================================
*/
@media (min-width: 450px) {

    .btn-lef-tgg
    {
        display: block;
    }

    .cnt-esc-cet
    {
        height: 100%;
    }

    .cnt-esc-lef
    {
        background-color: #1b1c1db5;
        display: none;
        position: absolute;
        top: 0; left: 0;
        z-index: 1;
        width: 50%;
        height: 90%;
    }
    .cnt-esc-lef.opencnt
    {
        display: block;
    }

    #cnt-lef-itm 
    {
        display: block;
    }

    .btn-lef-tgg
    {
        cursor: pointer;
        display: block;
    }

    .cnt-esc-cet
    {
        height: 100%;
    }

    #fecharcnt
    {
        display: block;
    }

    .cnt-lef-username
    {
        border: none;
    }

    .cnt-lef-quick-view
    {
        border: none;
    }

    .btn-menu-navbar
    {
        display: none;
    }
}



/*
==================================
===========SCREEN 661PX===========
==================================
*/
@media (min-width: 661px) {
    
    .btn-lef-tgg
    {
        display: none;
    }

    #fecharcnt
    {
        display: none;
    }

    .cnt-esc-lef
    {
        display: block;
        position: relative;
        width: 35%;
        height: 100%;
    }
    
    .cnt-fles-itm
    {
        display: flex;
        width: 100%;
        height: 90%;
    }

    .cnt-esc-cet
    {
        width: 65%;
        height: 100%;
    }
}


/*
==================================
==========SCREEN 1020PX===========
==================================
*/
@media (min-width: 1020px) {
    .esc-inc-cnt
    {
        display: flex;
    }

    .cnt-fles-itm
    {
        width: 80%;
        height: 100%;
    }

    .cnt-esc-lef
    {
        width: 30%;
    }

    .cnt-esc-cet
    {
        width: 70%;
        height: 100%;
    }

    .rest-ft-fall
    {
        width: 20%;
        height: 100%;
    }

    #cnt-rgh-itm
    {
        display: block;
    }
}